<launch>
  <param name="query_pos_x" value="-1.0"/>
  <param name="query_pos_y" value="40.0"/>
  <param name="query_pos_z" value="0.0"/>
  <param name="save_pose" value="true"/>
  <param name="lidar_z" value="0"/>
  <param name="terrainmap_file" value="/home/wxr/proj/traversability/obstacle_detection/ws_obdt/data/202305/0509/slope04/elevation_BGKmap.csv"/>
  <param name="robot_scale" value="0.8"/>
  <param name="pred_alpha" value="0.8"/>
  <param name="vehicle_height" value="0.8"/>
  <param name="map_length_X" value="60"/>
  <param name="map_length_Y" value="140"/>

  <!-- <node pkg="obstacle_mapping" type="key_pub_node" name="key_pub_node" output="screen"/> -->
  
  <node pkg="obstacle_mapping" type="pose_prediction_node" name="pose_prediction_node" output="screen"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="robot_to_lidar" args="0 -10 -0.5 0 0 0 base_link map"/>

  <node pkg="obstacle_mapping" type="show_vehicle_node" name="show_vehicle_node" output="screen"/>

  <node pkg="rviz" type="rviz" name="test_rviz" args="-d $(find obstacle_mapping)/rviz/pose.rviz"/>

</launch>